<!DOCTYPE html>
<html>
  <head>
    <title>Múuch' Wa'akun</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
	
	
	
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	
	<style>
		
	</style>
	
  </head>
  <body ng-app="realTime" class="bgrdBody">
	<nav class="navbar navbar-static-top navbar-dark bg-inverse p5" 
		style="background-color: #EBEBEB;"
		ng-controller="NavCtrl">
		
		<img style="float:left;" src="../images/Logo.png" width="55">
		<md-button class="md-primary navbar-brand" ng-href="/#/home">Múuch' Wa'akun</md-button>
		
		<ul class="nav navbar-nav pull-right">
		  <li ng-show="isLoggedIn()">
			<md-button class="md-primary" ng-href="/#/usuarios">Usuarios</md-button>
		  </li>
		  <li ng-show="isLoggedIn()">
			<md-button class="md-primary" ng-href="/#/proyectos-publicos">Proyectos</md-button>
		  </li>
		  <li ng-show="isLoggedIn()">
			<md-button class="md-primary" ng-href="/#/proyectos">Workspaces</md-button>
		  </li>
		  <li ng-show="isLoggedIn()">
			<md-button class="md-primary" ng-href="/#/register/{{currentUser()}}">{{ currentUser() }}</md-button>
		  </li>
		  
		  <li ng-show="isLoggedIn()">
			<md-button class="md-primary" ng-href="" ng-click="logOut()">Cerrar Sesión</md-button>
		  </li>
		  <li ng-hide="isLoggedIn()">
			<md-button class="md-primary" ng-href="/#/login">Inicio de Sesión</md-button>
		  </li>
		  <li ng-hide="isLoggedIn()">
			<md-button class="md-primary" ng-href="/#/register">Registro</md-button>
		  </li>
		  <li ng-show="isLoggedIn()">
			<img src="../images/{{ currentAvatar() }}.png" width="55" />
		  </li>
		</ul>
	</nav>
  
	<div ng-hide="isLoggedIn()">
	<ui-view></ui-view>
    </div>

	<!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  
  <!-- Angular Router -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.js"></script> -->
  
  	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  
  <!-- Custom Scripts -->
  <script src="/javascripts/realTimeApp.js"></script>

 <script type="text/ng-template" id="/usuario.html">
	 <div class="row">
		{{user.nombreCompleto}}
	 </div>
	  <div class="row">
		{{user.correoElectronico}}
	 </div>
	  <div class="row">
		{{user.iconoAvatar}}
	 </div>
	  <div class="row">
		{{user.nombreInstitucion}}
	 </div>
</script> 
  
<script type="text/ng-template" id="/usuarios.html">
<div class="row">
	<div class="col-md-4 col-md-offset-4 bgrdWhite">
		<md-content class="md-padding autocomplete" layout="column">
			<md-contact-chips ng-model="contacts" md-contacts="querySearch($query)" md-contact-name="nombreCompleto" md-contact-image="iconoAvatar" md-contact-email="correoElectronico" md-require-match="true" md-highlight-flags="i" filter-selected="filterSelected" placeholder="Usuarios">
			</md-contact-chips>

			<md-list class="fixedRows">
			  <md-subheader class="md-no-sticky">Contacts</md-subheader>
			  <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in allContacts" ng-if="contacts.indexOf(contact) < 0">
				<a ng-href="/#/usuario/{{contact._id}}">
				<img ng-src="{{ contact.iconoAvatar }}" 
					class="md-avatar" 
					alt="{{contact.nombreCompleto}}">
				</a>
				<div class="md-list-item-text compact">
				  <h3>{{contact.nombreCompleto}}</h3>
				  <p>{{contact.correoElectronico}}</p>
				</div>
			  </md-list-item>
			  <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in contacts">
				<img ng-src="{{ contact.iconoAvatar }}" class="md-avatar" alt="{{contact.nombreCompleto}}">
				<div class="md-list-item-text compact">
				  <h3>{{contact.nombreCompleto}}</h3>
				  <p>{{contact.correoElectronico}}</p>
				</div>
			  </md-list-item>
			</md-list>
		</md-content>
	</div>
</div>
</script>
  
<script type="text/ng-template" id="/proyectos-publicos.html">
<div class="row">
	<div class="col-md-6 col-md-offset-3 bgrdWhite">
		<md-content>
			<md-list>
			  <md-subheader class="md-no-sticky">Proyectos Públicos</md-subheader>
			  <md-list-item class="md-3-line" ng-repeat="project in projects">
				<img ng-src="../images/{{ project.icono }}.png" 
				class="md-avatar" 
				alt="{{project.nombre}}">
				<div class="md-list-item-text" layout="column">
				  <h3>{{ project.nombre }}</h3>
				  <h4>{{ project.descripcion }}</h4>
				  <p>{{ project.fechaCreacion }}</p>
				</div>
			  </md-list-item>
			</md-list>
		</md-content>
	</div>
</div>
</script>
	
<script type="text/ng-template" id="/agregar-proyectos.html">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 bgrdWhite">
				<div ng-show="error" class="alert alert-danger row" style="margin-bottom:0">
					<span>{{ error.message }}</span>
				</div>
			
				<div class="page-header bgrdBrown" >
					<h2>Agregar Proyectos</h2>
				</div>
			
				<form ng-submit="addProject()" class="m30">
					
					<md-input-container>
						<label>Nombre</label>
						<input ng-model="nombre" style="width:300px;">
					</md-input-container>
					
					<md-input-container>
						<label>Descripcion</label>
						<input ng-model="descripcion" style="width:300px;">
					</md-input-container>
					
					<md-input-container style="width:300px;">
						<label>Ícono</label>
						<md-select ng-model="icono">
						  <md-option ng-repeat="icono in iconos" value="{{icono.url}}">
							<img src="../images/{{icono.url}}.png" width="50" height="50" />
						  </md-option>
						</md-select>
					</md-input-container>
					
					<md-button type="submit" class="md-raised md-primary">Guardar</md-button>
				</form>
			</div>
		</div>
		
	
	</div>
</script>
    
<script type="text/ng-template" id="/proyectos.html">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Proyectos</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<md-button class="md-primary" ng-href="/#/agregar-proyectos">Crear Nuevo Proyecto</md-button>
					</div>
					
					<div class="col-md-6">
						<div ng-show="error" class="alert alert-danger row">
							<span>{{ error.message }}</span>
						</div>
						
						<div  ng-repeat="project in projects">
							<md-card ng-show="project._id">
								<md-card-title>
								  <md-card-title-media>
								   <div class="md-media-sm card-media">
										<img src="../images/{{ project.icono }}.png" width="55" />
									</div>
								  </md-card-title-media>
								  
								  <md-card-title-text>
									<span class="md-headline">{{project.nombre}}</span>
									<span class="md-subhead">{{project.descripcion}}</span>
									<span class="md-subhead">{{project.fechaCreacion | date:'yyyy-MM-dd HH:mm:ss'}}</span>
								  </md-card-title-text>
								  
								</md-card-title>
								<md-card-actions layout="row" layout-align="end center">
									<md-button class="md-primary" ng-href="#/proyecto/{{project._id}}"
									ng-show="project._id">Abrir</md-button>
									
									<md-button class="md-primary" ng-href="#/agregar-proyectos/{{project._id}}"
									ng-show="project._id">Editar</md-button>
									
									<md-button class="md-warn" 
									ng-click="deleteProject(project._id)"
									ng-show="project._id">
									Eliminar</md-button>
									
								  
								</md-card-actions>
							  </md-card>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		
	</div>	
	
	
	</div>
</script>

<script type="text/ng-template" id="/proyecto.html">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>
				  <span>
					{{project.nombre}}
				  </span>
					
				</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Área de trabajo (carpetas)
							</div>
							<div class="panel-body minH">

							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row minH2">
							<div class="panel panel-default">
								<div class="panel-heading">
									Área de edición
								</div>
								<div class="panel-body minH2">

								</div>
							</div>
						</div>
						<div class="row minH3">
							<div class="panel panel-default">
								<div class="panel-heading">
									Área de ejecución
								</div>
								<div class="panel-body minH3">

								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Área de colaboración
							</div>
							<div class="panel-body minH">
							<form ng-submit="saveCollaborators()" class="">
								<md-content class="md-padding autocomplete" layout="column">
									<md-contact-chips ng-model="contacts" md-contacts="querySearch($query)" md-contact-name="nombreCompleto" md-contact-image="iconoAvatar" md-contact-email="correoElectronico" md-require-match="true" md-highlight-flags="i" filter-selected="filterSelected" placeholder="Colaboradores">
									</md-contact-chips>

									<md-list class="fixedRows">
									  <md-subheader class="md-no-sticky">Contacts</md-subheader>
									  <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in allContacts" ng-if="contacts.indexOf(contact) < 0">
										<img ng-src="{{ contact.iconoAvatar }}" class="md-avatar" alt="{{contact.nombreCompleto}}">
										<div class="md-list-item-text compact">
										  <h3>{{contact.nombreCompleto}}</h3>
										  <p>{{contact.correoElectronico}}</p>
										</div>
									  </md-list-item>
									  <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in contacts">
										<img ng-src="{{ contact.iconoAvatar }}" class="md-avatar" alt="{{contact.nombreCompleto}}">
										<div class="md-list-item-text compact">
										  <h3>{{contact.nombreCompleto}}</h3>
										  <p>{{contact.correoElectronico}}</p>
										</div>
									  </md-list-item>
									</md-list>
								</md-content>
								
								<md-button type="submit" class="md-raised md-primary">Guardar Colaboradores</md-button>
								
							</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>


	
<script type="text/ng-template" id="/home.html">
	<div id="carouselHome">
      <carousel interval="myInterval" disable-animation="true">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" width="1300" >
		  <div class="textoCarouselHome">
			<p> {{slide.text}} </p>
		  </div>
          <div class="carousel-caption">
            
          </div>
        </slide>
      </carousel>
	  
    </div>
</script>
	
<script type="text/ng-template" id="/register.html">
  <div class="row">
	<div class="col-md-4 col-md-offset-4 bgrdWhite">
	  <div ng-show="error" class="alert alert-danger row">
		<span>{{ error.message }}</span>
	  </div>

	  <div class="page-header bgrdBrown" >
		<h2>Registro</h2>
	  </div>
	  
	  <form ng-submit="register()"
		class="m30" style="margin-top:0 !important; margin-bottom: 10px !important;">
		
		<md-input-container ng-show="!isLoggedIn()">
			<label>Nombre de Usuario</label>
			<input ng-model="user.username" style="width:300px;">
		</md-input-container>
		<md-input-container>
			<label>Nombre Completo</label>
			<input ng-model="user.nombreCompleto" style="width:300px;">
		</md-input-container>
		
		<md-input-container>
			<label>Avatar</label>
			<md-select ng-model="user.iconoAvatar">
			  <md-option ng-repeat="avatar in avatars" value="{{avatar.url}}">
				<img src="../images/{{avatar.url}}.png" width="50" height="50" />
			  </md-option>
			</md-select>
		</md-input-container>
		
		<md-input-container>
			<label>Nombre Institucion</label>
			<input ng-model="user.nombreInstitucion" style="width:300px;">
		</md-input-container>
		<md-input-container>
			<label>Correo Electrónico</label>
			<input ng-model="user.correoElectronico" style="width:300px;">
		</md-input-container>
		<md-input-container>
			<label>Contraseña</label>
			<input type="password" ng-model="user.password" style="width:300px;">
		</md-input-container>
		<md-input-container>
			<label>Confirmar Contraseña</label>
			<input type="password" ng-model="user.confirmPassword" style="width:300px;">
		</md-input-container>
		
		<md-button type="submit" class="md-raised md-primary">Guardar</md-button>
	  </form>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/login.html">
  <div class="row">
	<div class="col-md-4 col-md-offset-4 bgrdWhite">
  
	  <div ng-show="error" class="alert alert-danger row">
		<span>{{ error.message }}</span>
	  </div>

	  <div class="page-header bgrdBrown" >
		<h2>Inicio de sesión</h2>
	  </div>
	  
	  <form ng-submit="logIn()"
		class="form-signin m30">
		
		<md-input-container>
			<label>Nombre de Usuario</label>
			<input ng-model="user.username" style="width:300px;">
		</md-input-container>
		
		<md-input-container>
			<label>Contraseña</label>
			<input type="password" ng-model="user.password" style="width:300px;">
		</md-input-container>
		
		<md-button type="submit" class="md-raised md-primary">Iniciar Sesión</md-button>
	  </form>
  
    </div>
  </div>
</script>
	
  </body>
</html>
