<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/realTimeApp.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<script>
		/*$( document ).ready(function() {
		   $("#btnMostrarCrearProyecto").on("click", function(){
			$("#divCrearProyecto").show();
			});
		});*/
	</script>
	
  </head>
  <body ng-app="realTime">
	<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
		<ul class="nav navbar-nav">
		  <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
		  <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
		  <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
		  <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
		</ul>
	</nav>
  
	<div ng-hide="isLoggedIn()">
	<ui-view></ui-view>
    </div>

<script type="text/ng-template" id="/agregar-proyectos.html">
	<div class="page-header" >
		<h1>Agregar Proyectos</h1
		
		<div id="divCrearProyecto" style="display:block;">
			<input id="txtNombreProyecto" type="text" />
			<input id="btnCrearProyecto" type="button" value="Crear" />
			
		</div>
	</div>
</script>
    
<script type="text/ng-template" id="/proyectos.html">
	<div class="page-header" >
		<h1>Proyectos</h1>
	</div>

	<div class="form-group">
		<div style="float:left;">
			<a id="btnMostrarCrearProyecto" href="/#/agregar-proyectos">Crear Nuevo Proyecto</a>
				
		</div>
		</div>
		<div style="float:left;">
			
			<div ng-repeat="project in projects">
			  nombre: {{project.nombre}} - descripcion: {{project.descripcion}}
			</div>
		</div>
	</div>
</script>
	
<script type="text/ng-template" id="/home.html">
  <div class="page-header" >
    <h1>Real Time...</h1>
  </div>

  <!-- rest of template -->
</script>
	
<script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Real Time</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>

<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Real Time</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>
	
  </body>
</html>
