body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/*.md-is-open{
	background-color: rgb(63,81,181) !important;
}*/

.whiteText{
	color: white !important;
	line-height: 65px !important;
}
.aBoton{
	padding: 0 !important;
	margin: 20px 0 !important;
}

.card-media{
	margin:0 20px;
}

.m30{
	margin:30px !important;
}
.p5{
	padding:5px !important;
}
.bgrdWhite{
	background-color: white !important;
	padding: 0 !important;
	box-shadow: 5px 5px 5px #888888 !important;
}
.bgrdBrown{
	background-color: #665750 !important;
	color: white;
	padding: 1px 0 9px 0;
	text-align: center;
	margin-top: 0 !important;
}

.bgrdBody{
	background: url("../images/photo_bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.minH{
	min-height:500px;
}
.minH2{
	min-height:288px;
}
.minH3{
	min-height:150px;
}

.lneHgtTd{
	line-height: 46px !important;
}


a {
  color: #00B7FF;
}

#carouselHome{
	margin-top: -20px !important;
}

#slides_control > div{
  height: 500px;
}

.textoCarouselHome{
	position: absolute;
    top: 10%;
    left: 20%;
    color: white;
    width: 60%;
    line-height: 30px;
    font-size: 20px;
    margin: 0 auto;
    background-color: rgba(23,2,43,0.5);
	padding:2%;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.alert.alert-danger.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}